@import 'tailwindcss';

@layer utilities {
  .myscrollbar::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  .myscrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf7f1;
  }

  .myscrollbar::-webkit-scrollbar-thumb {
    background: #186e00e2;
    border-radius: 100vh;
  }

  .myscrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
